@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("./theme.css");
@import url("./vars.css");
@import url("./navbar.css");
@import url("./ProfilePic.css");

body {
  margin: 0;
  padding-top: 0px;
  background-color: var(--bg);
  font-family: var(--font);
  color: var(--text);
}
